html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBF5E7;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .01em;
  line-height: 2em;
  text-transform: none;
  color: #161618;
}

h1,h2,h3,h4,h5,h6{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0d0c34;
  -webkit-animation: fadein .3s ease-in; /* Safari 4+ */
  -moz-animation:    fadein .3s ease-in; /* Fx 5+ */
  -o-animation:      fadein .3s ease-in; /* Opera 12+ */
  animation: fadein .3s ease-in;
}

img{
  -webkit-animation: fadein .5s ease-in; /* Safari 4+ */
  -moz-animation:    fadein .5s ease-in; /* Fx 5+ */
  -o-animation:      fadein .5s ease-in; /* Opera 12+ */
  animation: fadein .5s ease-in;
}

p{
  -webkit-animation: fadein .5s ease-in; /* Safari 4+ */
  -moz-animation:    fadein .5s ease-in; /* Fx 5+ */
  -o-animation:      fadein .5s ease-in; /* Opera 12+ */
  animation: fadein .5s ease-in;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  @media (min-width: 1600px)
  {
    font-size: 22px;

  }
}

h1{
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.25rem;

  @media (min-width: 1100px){
    font-size: 58px;
    line-height: 3rem;
  }
  @media (min-width: 1600px)
  {
    font-size: 4rem;
    line-height: 3.875rem;
  }
}

h3 {
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .1em;
  line-height: 2em;
  text-transform: uppercase;
  @media (min-width: 1600px)
  {
    font-size: 22px;

  }
}

#app-container{
  min-height: calc(100vh - 70px);
}

.top-margin {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}



@media only screen and (max-width: 994px) {
  .row-inverse{
    display: flex;
    flex-flow: column-reverse;
  }
}

/* Navigation */

.navbar {
  position: absolute;
  width: 100%;
  z-index: 9999;
  border: none;
  margin: 0px;
  @media screen and (min-width: 769px) {
    background: #fbf5e7;
    height: 70px;
    align-content: center;
    display: flex;
    position: relative;
    min-height: 50px;
    margin: 0px;
    justify-content: center;
    border-radius: 0px;
    border: none;
    ul {
      opacity: 0;
      animation: 1s fadein ease-out 1.25s forwards;
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
    }
    li {
      line-height: 2em;
      float: left;
    }
    li a {
      transition: .3s;
      transform: scale(1.1);
      height: 27px;
      outline: none;
      text-decoration: none;
      font-weight: bold;
      display: block;
      color: #0d0c34 !important;
      text-align: center;
      font-size: 12px;
      margin: 0px 16px;
      padding: 0px;
    }
    li a:focus,
    a:hover,
    a.selected {
      transform: scale(1);
      color: gray !important;
      padding-bottom: 20px;
      border-bottom: 2px #0d0c34 double;
    }
  }
}

.navbar-header {
  height: 70px;
  border: none;
  background: #2e3238;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-collapse {
  background: #fbf5e7;
  border: none;
  text-align: center;
}

.navbar-toggle {
  background-color: transparent;
  margin-right: 0px;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #FBF5E7;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 35px;
}

.icon-bar1 {
  background-color: #893fe4 !important;
}

.icon-bar2 {
  background-color: #15A3F9 !important;
}

.icon-bar3 {
  background-color: #56ebc3 !important;
}

.navbar-flex {
  @media screen and (min-width: 769px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.border-gradient {
  border-image-slice: 1;
  border-width: 8px;
}

.border-gradient-square {
  border: 8px solid;
  border-image: linear-gradient(to left, #ba81ff, #15a3f9, #56ebc3);
  -o-border-image: linear-gradient(to left, #ba81ff, #15a3f9, #56ebc3);
  -moz-border-image: linear-gradient(to left, #ba81ff, #15a3f9, #56ebc3);
  -webkit-border-image: linear-gradient(to left, #ba81ff, #15a3f9, #56ebc3);
  border-image-slice: 30 30 30 30;
}

.border-gradient-line {
  border-bottom: 4px solid;
  border-image: linear-gradient(to left, #FBC4C4, #CBEDE9);
}

/* End navigation */

.intro-container {
  background: #FBF5E7; // animation-delay: 2s;
  // animation: colorchange 11s infinite 1.25s; /* animation-name followed by duration in seconds*/
  // /* you could also use milliseconds (ms) or something like 2.5s */
  // -webkit-animation: colorchange 11s infinite 1.25s; /* Chrome and Safari */
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: calc(100vh - 70px); // background-image: url(https://images.pexels.com/photos/1903747/pexels-photo-1903747.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  // background-size: cover;
  // background-position: bottom;
}

.home-quote-content {
  opacity: 0;
  -webkit-animation: .75s fromTop ease-in-out .3s forwards; /* Safari 4+ */
  -moz-animation:    .75s fromTop ease-in-out .3s forwards; /* Fx 5+ */
  -o-animation:      .75s fromTop ease-in-out .3s forwards; /* Opera 12+ */
  animation: .75s fromTop ease-in-out .3s forwards;
  padding: 50px;
  text-align: left;
  margin: 0 auto;
  justify-self: center;
  width: 37%;
  align-self: center;

  h3,p{
    color: #0d0c34;
  }

  h3{
    font-size: 28px;
  }

  @media screen and (max-width: 1024px) {
    width: 83.3333%;
    padding: 14px;
  }
  @media screen and (min-width:1600px) {
    width: 30%;
  }
}

.quote-content {
  text-align: left;
  margin: 0 auto;
  justify-self: center;
  width: 37%;
  align-self: center;
  @media screen and (max-width: 1024px) {
    padding: 14px;
    width: 83.3333%;
  }
  @media screen and (min-width:1600px) {
    width: 30%;
  }
}

.whoami-quote-content {
  text-align: left;
  margin: 50px auto;
  justify-self: center;
  width: 37%;
  align-self: center;
  @media screen and (max-width: 1024px) {
    padding: 14px;
    width: 83.3333%;
  }
}

.content-divider-home {
  display: block;
  position: relative;
  height: 3px;
  background-color: blue;
  width: 60px;
  margin-top: 22px;
  margin-bottom: 10px;
}

.arrow-bounce {
  margin-top: 40px;
  bottom: 30px;
  width: 100%;
  left: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  @media screen and (max-width: 600px) {
    bottom: 20px;
  }
}

.arrow-bounce img {
  border-radius: 50%; // animation-delay: 2s;
  // animation: colorchangereverse 11s infinite 1.25s; /* animation-name followed by duration in seconds*/
  // /* you could also use milliseconds (ms) or something like 2.5s */
  // -webkit-animation: colorchangereverse 11s infinite 1.25s; /* Chrome and Safari */
  animation-delay: 7s;
  animation: bounce 2.75s infinite 2.75s;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: bounce 2.75s infinite 2.75s;
  /* Chrome and Safari */
  width: 40px;
}

/* Who am I */

.profile-pic-one, .profile-pic-two, .profile-pic-three {
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 43.125rem;
  background-size: cover;

  &::before{
    display: block;
    content: "";
    width: 100%;
    padding-top: 106.25%;
  }
}

.profile-pic-one {
  background-position: center;
  background-image: url("../images/profile.jpg");
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.profile-pic-two {
  background-image: url("https://www.fmsp.com/wp-content/uploads/2018/02/Marist-College-Student-Center-Rotunda-_1.jpg");
}

.profile-pic-three {
  background-image: url("https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.profile-info {
  align-items: center;
  color: #312C32;
  padding: 6.75rem 7.875rem 8rem 8.625rem;

  @media only screen and (max-width: 900px) {
      margin-left: 0px;
      padding: 20px;
  
  }

  @media only screen and (max-width: 1100px) {
    margin-left: 0px;
    padding: 50px;

}
}



.two-fifths-page {
  height: 40vh;
}

.half-page {
  height: 50vh;
}

.full-page {
  height: 100vh;
}

/* Work boxes */

.work-boxes {
  padding: 0px !important;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  color: #444;
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.box {
  position: relative;
  max-width: 100%;
  background-color: #E9F4F8;
  color: #fff;
  font-size: 150%;
}

.box img {
  height: 100%;
  width: 100%;
}

.hero-stripe{
  h1 {
    text-transform: uppercase;
  }
  p {
    color: #0d0c34;
  }
  padding: 120px 0px; // background-color: #cbede9;
  // background-image: url(/images/pattern.png);
  background-color: #fbf5e7;
  @media only screen and (max-width: 400px) {
    padding: 75px 0px;
  }
}

.content-section {
  justify-content: center;
  display: flex;
  height: 100vh;
  align-items: center;
  background-position: center;
}

.content-title {
  margin-top: 150px;
  font-size: 160px;
  font-weight: bold;
  line-height: .5;
  position: relative;
  z-index: 2;
  text-align: left;
  color: #0E0E24;
  @media only screen and (max-width: 900px) {
    font-size: 19vw;
  }
}

.content-box-left {
  color: #fff;
  background-color: #2B2F3C;
  height: 100%;
  padding: 75px 50px;

  h1{
    font-size: 36px !important;
    color: white;
  }
  a {
    text-decoration: none;
    color: black;
    transition: 1s;
    font-size: 16px;
    padding: 10px;
    border: none;
    margin-top: 20px;
    background-color: #ffd830;
  }
  a:hover {
    background-color: #b4d0e7;
    color: black;
    transition: 1s;
  }
  p {
    color: white;
    width: 65%;
    font-size: 16px;
    margin-bottom: 25px;
    @media only screen and (max-width: 900px) {
      width: 80%;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 0px 18px;
  }
}

.content-divider {
  display: block;
  position: relative;
  height: 3px;
  background-color: #b4d0e7;
  width: 60px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.content-box-right {
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #9BA5B5;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* End connect*/

.box-shadow {
  display: flex;
  -webkit-box-shadow: 3px 5px 63px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 63px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 63px 1px rgba(0, 0, 0, 0.75);
  margin-bottom: 230px;
}

.jumbotron {
  z-index: 0;
  display: inline-block;
  background: transparent;
  height: 100%;
  text-align: left;
  border-bottom: 1px solid #efefef;
}

.jumbotron a {
  padding-top: 10px;
  padding-left: 8px;
  text-decoration: none;
  float: left;
  line-height: 1.71;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  color: #999;
}

.jumbotron a:hover {
  color: red;
}

.intro-content {
  line-height: 1.71;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  color: #999;
}

.intro-content img {
  width: 40px;
  height: 25px;
  vertical-align: middle;
  padding-right: 15px;
  text-align: center;
}

/*Interactive Phone*/
.interactive-container {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 1024px) {
    display: block;
  }
}

.solution-text-container {
  display: flex;
  align-items: center;
}

.solution-text {
  max-width: 80%;
  margin: 50px auto;
}

#phone-container {
  margin-top: 40px;
  display: flex;
}

.container-phone .alert-phone {
  transform: translateY(130%);
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.container-phone.alert-is-shown .alert-phone {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(-50%);
  opacity: 1;
}

.container-phone {
  cursor: pointer;
  align-self: flex-end;
  margin: 30px auto;
  padding: 0px;
  background: url("https://images.pexels.com/photos/1886516/pexels-photo-1886516.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  border: 10px solid #000;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px / 20px 20px 20px 20px;
}

.container-phone::before {
  content: "";
  background: #000;
  position: absolute;
  z-index: 21;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38px;
}

.container-phone::after {
  content: "";
  background: #282727;
  position: absolute;
  z-index: 20;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 20px;
}

.alert-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
  width: 90%;
  height: 60px;
  left: 5%;
  bottom: 70px;
  background: #fff;
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
}

.note-phone {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 12px monospace;
  color: #999;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  z-index: 21;
}

.container-tablet.alert-tablet {
  transform: translateY(150%);
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.container-tablet.alert-is-shown .alert-tablet {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(-300%);
  opacity: 1;
}

.container-tablet {
  cursor: pointer;
  align-self: flex-end;
  margin: 30px auto;
  background: url("https://images.pexels.com/photos/1070345/pexels-photo-1070345.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  width: 270px;
  border: 10px solid #000;
  height: 390px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px / 20px 20px 20px 20px;
}

.container-tablet::before {
  content: "";
  background: #000;
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
}

.container-tablet::after {
  content: "";
  background: #282727;
  position: absolute;
  z-index: 19;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 28px;
}

.alert-tablet {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  transition: 0.25s;
  transition-timing-function: ease-out;
  width: 90%;
  height: 60px;
  left: 5%;
  bottom: -8px;
  background: #fff;
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  text-align: center;
}

.note-tablet {
  position: absolute;
  bottom: -4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 12px monospace;
  color: #999;
  text-transform: uppercase;
  z-index: 21;
  height: 36px;
  width: 37px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #phone-container {
    display: block;
  }
  .container-phone {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-tablet {
    margin-bottom: 20px;
  }
  .container-laptop {
    margin-bottom: 20px;
  }
}

/* end interactive phone*/

footer {
  background: #fbf5e7;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 50px 0px;
}

.copyright {
  background: #fbf5e7;
  padding-bottom: 10px;
  p{
    color: #0d0c34;
  }
  img {
    width: 35px;
  }
}

@keyframes colorchange {
  0% {
    background: #ffffff;
  }
  33% {
    background: #CBEDE9;
  }
  66% {
    background: #FBC4C4;
  }
  100% {
    background: #ffffff;
  }
}

@-webkit-keyframes colorchange
/* Safari and Chrome - necessary duplicate */

  {
  0% {
    background: #ffffff;
  }
  33% {
    background: #CBEDE9;
  }
  66% {
    background: #FFBBBA;
  }
  100% {
    background: #ffffff;
  }
}

@keyframes colorchangereverse {
  0% {
    background: #ffffff;
  }
  33% {
    background: #FBC4C4;
  }
  66% {
    background: #CBEDE9;
  }
  100% {
    background: #ffffff;
  }
}

@-webkit-keyframes colorchangereverse
/* Safari and Chrome - necessary duplicate */

  {
  0% {
    background: #ffffff;
  }
  33% {
    background: #FBC4C4;
  }
  66% {
    background: #CBEDE9;
  }
  100% {
    background: #ffffff;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(0px, 5px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.fade-in{
  -webkit-animation: fadein .3s ease-in; /* Safari 4+ */
  -moz-animation:    fadein .3s ease-in; /* Fx 5+ */
  -o-animation:      fadein .3s ease-in; /* Opera 12+ */
  animation: fadein .3s ease-in;
}

.fade-in-delayed{
  -webkit-animation: fadein .5s ease-in; /* Safari 4+ */
  -moz-animation:    fadein .5s ease-in; /* Fx 5+ */
  -o-animation:      fadein .5s ease-in; /* Opera 12+ */
  animation: fadein .5s ease-in;
}

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fromTop {
  0%   { opacity:0; transform: translateY(-10px); }
  100% { opacity:1; transform: translateY(0px); }
}
